<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='/stylesheets/reservation.css' />
</head>

<body>
	<script type="text/javascript">

		const reservation_info = <%- JSON.stringify(reservation_information) %>; //region,cinema,movie_name,date,screen_no,show_start_time,box_office_id
		const reserv_seats = <%- JSON.stringify(seats) %>;
	</script>


	<% include nav %>
	<div id="Content">

		<div id="Seats-container">
			<h4>Seats</h4>

			<div id="Seats">
				<div id="screen">
				</div>
				<div id="SeatChart">
				</div>
			</div>

			<div id="seat_before">
				<h4>인원선택</h4>
				<ul class="memset">
					<p>일반</p>
				</ul>
				<ul class="memset">
					<p>청소년</p>
				</ul>
				<ul class="memset">
					<p>우대</p>
				</ul>


			</div>


			<div id="reservation_info">
				<h4>예매내역</h4>
				<div>
					<p>cinema: <%= reservation_information[1] %> </p>
				</div>
				<div>
					<p>movie_name: <%= reservation_information[2] %></p>
				</div>
				<div>
					<p>date: <%= reservation_information[3] %></p>
				</div>
				<div>
					<p>screen_no: <%= reservation_information[4] %></p>
				</div>
				<div>
					<p>show_start_time: <%= reservation_information[5] %></p>
				</div>
				<div>
					<p id="seats_info">seats:</p>
				</div>
				<div>
					<p>cost:</p>
				</div>

			</div>
		</div>
		<form name = "fr" onsubmit="return check()" action=<%= `/reserv_seat/${box_office_id}` %> method="post">
			<input type="submit" id="goPayment" value="Payment">
			<input type="hidden" id="info_s" name="info_s" value = ""/>
			<input type="hidden" id="info_m" name="info_m" value = ""/>
			<input type="hidden" id="info_b" name="info_b" value = ""/>


		</form>

	</div>

	<% include menu %>

	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="/javascripts/reservation.js"></script>
</body>

</html>