<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='/stylesheets/reservation.css' />
</head>

<body>
	<script type="text/javascript">
		const reservation_info = <%- JSON.stringify(reservation_information) %>; //region,cinema,movie_name,date,screen_no,show_start_time,box_office_id
		const region_list = <%- JSON.stringify(results_region) %>;
		const cinema_list = <%- JSON.stringify(results_cinema) %>;
		const movie_list = <%- JSON.stringify(results_movie) %>;//	[0] = movie_name ;	[1] = age_restriction ;	[2] = genre ;	[3] = movie_img ;
		const date_list = <%- JSON.stringify(results_date) %>;
		const screen_list =<%- JSON.stringify(results_screen) %>;
	</script>


	<% include nav %>

	<div id="Content">
		<div id="movie-container">
			<h4>Region</h4>
			<ul id="region-list">
			</ul>
			<h4>Cinema</h4>

			<ul id="cinema-list">
			</ul>
			<h4>Movie</h4>

			<ul id="movie-list">
			</ul>

			<h4>Date</h4>
			<ul id="date-list">
			</ul>
			<h4>Screen</h4>
			<div id="screen-list">
			</div>
		</div>
		<div id="Seats-container">

			<div id="reservation_info">
				<h4>예매내역</h4>
				<div>
					<p>cinema: <%= reservation_information[1] %> </p>
				</div>
				<div>
					<p>movie_name: <%= reservation_information[2] %></p>
				</div>
				<div>
					<p>date: <%= reservation_information[3] %></p>
				</div>
				<div>
					<p>screen_no: <%= reservation_information[4] %></p>
				</div>
				<div>
					<p>show_start_time: <%= reservation_information[5] %></p>
				</div>
				<div>
					<p>seats:</p>
				</div>
				<div>
					<p>cost:</p>
				</div>
				<form id="RE" action=<%= `/reserv/${state}` %> method="post">
					<input type="hidden" name="info" value="RE" />
					<input type="submit" value="RE">
				</form>

				<form id="select_form" action=<%= `/reserv/${state}` %> method="post">
					<input type="hidden" id="info" name="info" />
					<input type="submit" value="좌석선택">

				</form>
			</div>
		</div>
		<!-- <div id="goPayment">Payment</div> -->
	</div>

	<% include menu %>

	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="/javascripts/reservation.js"></script>
</body>

</html>